@media only screen and (max-width: 450px) {
  .body {
    /* background-color: #d1d0dc; */
    margin: 0;
    padding: 0;
    font-family: "poppins" sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: none;
    width: 100%;
  }
  .myName {
    margin-left: 01rem;
    color: var(--test-black-900);
    font-weight: 700;
    padding: 0.3rem 1rem 0.3rem 1.5rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.4rem;
    width: 5rem;
    overflow: hidden;
  }
  .nav_bar_items li {
    font-size: 0.7rem;
    margin-right: 1rem;
    font-weight: 500;
  }
  .sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1c1b22;
    z-index: 1000;
  }
  .container {
    height: 100vh;
    width: 100%;
  }
  /* Home page */
  .home_page {
    height: 100vh; /* Ensure it fits the viewport height */
    width: 100vw; /* Ensure it fits the viewport width */
    display: flex;
    flex-direction: column;
    /* background: blue; */
  }
  .background_image_container {
    height: 15rem;
    width: 15rem;
    transform: translate(38%, 10%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    /* overflow: hidden; */
  }
  .background_image {
    height: 15rem;
    width: 15rem;
    background-color: #1c1b22;
    border-radius: 50%;
    box-shadow: 0px 0px 100px 20px #1c1b22 inset;
    opacity: 0;
    transition: opacity 6s;
  }

  /* Name intro section */
  .intro {
    margin-top: 50%;
    padding-top: 15%;
    font-size: 1.1rem;
    padding-left: 10%;
  }
  .home_page h1 {
    padding-left: 10%;
    padding-top: 0.8%;
    font-size: 2.2rem;
    color: #08ff99;
  }
  .details {
    padding-left: 10%;
    padding-right: 5%;
    padding-top: 0.8%;
    font-family: "Merriweather", serif;
    font-size: 0.8rem;
    font-weight: 100;
  }
  /* Button customize section */
  .buttons {
    padding-left: 10%;
    margin-top: 13%;
  }
  .cvButton {
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0.5rem 1.7rem;
  }
  .resumeButton {
    margin-left: 1rem;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0.5rem 0.7rem;
  }
  .cvButton i,
  .resumeButton i {
    display: none;
  }
  .social_icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 4em;
    width: 10rem;
    transform: translate(28%, -160%);
  }
  .facebook,
  .twitter,
  .github,
  .linkedin {
    font-size: 1.5rem;
    color: #cbcbcb;
  }



  /* About section */

  .about_section {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .profile_of_about_section {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .profile_of_about_section svg {
    padding-left: 8rem;
    height: 20rem;
    z-index: 111;
    padding-top: 10rem;
  }
  /* Text div */
  .all_text_of_about_section {
    height: 0%;
    width: 100%;
    padding-left: 10%;
    padding-right: 5%;
    margin-top: 2rem;
    background: green;
  }

  .all_text_of_about_section h1 {
    margin-top: 0rem;
    font-size: 1.5rem;
  }
  .My_self {
    margin-right: 11%;
    color: rgba(240, 248, 255, 0.892);
    font-size: 0.85rem;
  }

  /* Project section */

  .project_section {
    width: 100%;
    height: 100%;
    /* background: green; */
  }
  .project_section h1 {
    margin-top: 5%;
    font-size: 1.3rem;
  }
  .project_section h2 {
    margin-top: 0%;
    font-size: 0.5rem;
    font-weight: 500;
    color: #cbcbcb;
  }
  /* Project container div */
  .project {
    height: 80%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    /* background: blue; */
    overflow-x: scroll;
    padding: 0% 10%;
  }
  .project1,
  .project2,
  .project3 {
    height: 90%;
    width: 90%;
    padding: 5%;
  }
  .project1 p,
  .project2 p,
  .project3 p {
    margin-top: 2%;
    font-size: 0.8rem;
    margin-right: 5rem;
    margin-left: 0.1rem;
    color: #cbcbcb;
  }

  .project1 h1,
  .project3 h1,
  .project2 h1 {
    margin-top: 5%;
    font-size: 1.4rem;
    font-family: " Courier, monospace";
  }

  .project1 ul,
  .project2 ul,
  .project3 ul {
    margin-top: 2%;
    font-size: 0.9rem;
    margin-left: 0.1rem;
  }
  /* Custom scrollbar for WebKit browsers */
  .project::-webkit-scrollbar {
    height: 6px; /* Adjust the height of the scrollbar */
  }

  .project::-webkit-scrollbar-track {
    background: transparent; /* Color of the scrollbar track */
  }

  .project::-webkit-scrollbar-thumb {
    background: linear-gradient(
      to bottom,
      #1c1b22,
      #08ff9856,
      #1c1b22
    ); /* Vertical gradient */
  }

  .project::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color when hovering over the scrollbar thumb */
  }
   /* contact section......................... */
   .contact_section {
    width: 100%;
    height: 140%;
    /* background: green; */
  }
  .contact_box {
    margin-top: -60%;
    height: 400px;
    width: 250px;
    margin-left: 0rem;
    padding: 1.5rem;
  }

  .contact_box h1 {
    padding: 0rem 1rem 0.5rem 0rem;
    font-size: 1.5rem;
  }
  .contact_box p {
    padding-left: 0rem;
    padding-bottom: 0.5rem;
    font-size: 0.7rem;
    font-weight: 300;
    padding-right: 0rem;
  
  }
  .NamePhoneEmail_Section {
    padding: 0rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    /* background-color: #08ff99; */
  }
  .contact_box .FirstName,
.contact_box .LastName,
.contact_box .email,
.contact_box .phoneNumber {
  margin-top: 0.5rem;
  padding: 0.35rem 0.7rem 0.35rem 1rem;
  font-size: 0.7rem;
  font-weight: 300;
  flex-grow: 1;
}
.select_option {
    margin-top: 0.8rem;
    margin-left: 0rem;
    width: 100%;
    font-size: 0.7rem;
    padding: 0.4rem;
  }
  .massage {
    margin: 0.5rem 0rem 0rem 0rem;
    height: 15%;
    width: 100%;
    box-sizing: border-box;
    text-indent: 0.5rem;
    color: rgba(255, 255, 255, 0.905);
    font-size: 0.7rem;
    font-weight: 300;
    
  }
  .massage::placeholder {
    position: absolute;
    text-indent: 0.5rem;
    font-size: 0.75rem;
    margin-left: 0.3rem;
    color: #bbb;
  }
  .sendMessage {
    position: relative; /* Required for positioning the pseudo-element */
    height: 2rem;
    width: 7rem;
    border-radius: 0.9rem;
    font-size: 0.79rem;
    font-weight: 350;
    color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.3rem;
 
  }
  
  .sendMessage::after {
    content: "Submit";
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -50%);
    padding: 0; /* Remove padding to center the text properly */
  }

  


  .contact_me {
    position:absolute;
    transform: translate(0%,95%);
    background: #1c1b22;
    width: 80%;
    height: 40%;
    overflow:visible;
    padding-left: 0%;
    /* background: blue; */
  }
  .contact-info p {
    font-size: 0.55rem;
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
    color: #cbcbcb;
  }
  .contact-info span {
    font-size: 0.7rem;
    color: white;
    font-weight: 300;
  }
  /* .contact_1{
    overflow: hidden;
  } */

  /* Pop-Up Section */

  /* Po-up Div */
  .popupBox{
    position: relative;
    right: 20%;
    bottom: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    overflow: hidden;
  }

  .Popup_error,.Popup_success{
    width: 14rem;
    height: 1rem;
    background: #fff;
    font-size: 0.8rem;
    font-weight: 400;
    padding: 1rem;
    /* box-shadow: 0px 0px 5px 0px #7b8b84; */
    color: black;
    display: flex;
    align-items: center;
    position: relative;
    
  }
  
  .Popup_error i{
    margin-left: 0.5rem;
    font-size: 25px;
    color: orange;
  }
  .Popup_success i{
    margin: 0 15px;
    font-size: 30px;
    color: green;
  }
  .Popup_error::after,.Popup_success::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: green;
    animation: animation 5s linear forwards;
  }
  @keyframes animation{
    100%{
      width: 0;
    }
  
}


/* Side bar */
.Sidebar {
  position: fixed;
  top: 0;
  right: -100%;
  height: 100%;
  width: 50%;
  z-index: 999;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.7s ease-in-out;
 
}
.Sidebar li{
  margin-top: 2rem;
  list-style: none;
  color: #cbcbcb;
  font-size: 1rem;
  position: relative;
  font-weight: 500;
}
.Sidebar li:hover,
.Sidebar .active{
  color: #08ff99;
  text-shadow: 1px 1px 10px rgba(0, 204, 255, 0.6);
}
.Sidebar li::after,
.Sidebar .active::after{
  content: " ";
  position: absolute;
  background: #30d5c8;
  width: 100%;
  height: 0.1rem;
  left: 0;
  bottom: -5px;
  transform: scale(0);
  transform-origin: bottom right;
  transition: transform 0.5s;
}
.Sidebar li:hover::after,
.Sidebar .active::after  {
  transform: scale(1);
  transform-origin: bottom left;
}

.nav_bar_items{
  display:none;
}
.nav_bar .fa-bars{
  transition: 0.5s ;
  display: block;
  padding-top: 0.5rem;
  font-size: 1.5rem;
  padding-right: 1.5rem;
  color:#e4e2e2;
}
.nav_bar .fa-xmark{
  /* display: block; */
  transition: 2s ease-in-out;
  position: absolute;
  right: 0;
  top: 0.5rem;
  padding-top: 0.5rem;
  font-size: 1.5rem;
  padding-right: 1.5rem;
  color:#e4e2e2;
  z-index: 1000;
  
}
.nav_bar .fa-xmark:hover {
  transform: scale(1.2);
  transition: transform 0.5s;
}

}
